/* CareerPage.css */
.career-main {
  width: 100%;
}

.career-page {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.job-listing {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: rgb(246, 243, 239);
}
h1 {
  color: "var(--Black, #16205f)";
  font-weight: bold;
}
.job-listing h2 {
  color: #333;
}

.job-listing p {
  margin-bottom: 10px;
}

.job-listing h3 {
  margin-top: 15px;
}

.job-listing ul {
  margin-bottom: 15px;
}

.job-listing li {
  list-style-type: disc;
  margin-left: 20px;
}

.apply-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.apply-button a:hover {
  background-color: #0056b3;
}
